<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<title>{{ block "title" . }}REDIRECT{{ end }}</title>
</head><body>
<!--
 this needs to be done outside of the script tag, or
 else it outputs ten zillion double quotes before the
 valid JSON array.
-->
{{- range $.Site.RegularPages -}}
  {{ if ne .RelPermalink "/random/" }}
    {{ $.Scratch.Add "tmp" (slice .Permalink) }}
  {{end}}
{{- end -}}
{{ $.Scratch.Get "tmp" | jsonify | $.Scratch.Set "tmp" }}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function(){
	var recipe = {{ $.Scratch.Get "tmp" | safeJS }} ;
	$(location).attr('href', recipe[Math.floor(Math.random() * recipe.length)]);
});
</script>
</body></html>
