<nav class="navbar navbar-light bg-light navbar-expand-md" style="margin-bottom: 25px;">
  <a class="navbar-brand" href="/">Accueil</a>
  <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#menuNavbarCollapse" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="menuNavbarCollapse">
    <ul class="nav navbar-nav mr-auto">
      <li class="dropdown nav-item">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" id="dropdownCollectionLink" role="button" aria-haspopup="true" aria-expanded="false">Collections</a>
        <div class="dropdown-menu" aria-labelledby="dropdownCollectionLink">
          {{ $currentDir := .Dir }}
          {{ range .Site.Home.Sections.ByTitle }}
            <a class="dropdown-item{{if eq $currentDir .Dir }} active{{end}} sidebar-nav-item" href="{{.RelPermalink}}">{{ .Title }}</a>
            {{ range .Sections }}
              <a class="pl-5 dropdown-item{{if eq $currentDir .Dir }} active{{end}} sidebar-nav-item" href="{{.RelPermalink}}">{{ .Title }}</a>
            {{ end }}
          {{ end }}
        </div>
      </li>
      <li class="dropdown nav-item">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" id="dropdownTagLink" role="button" aria-haspopup="true" aria-expanded="false">Tags</a>
        <div class="dropdown-menu" aria-labelledby="dropdownTagLink">
          {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            <a class="dropdown-item" href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}/">{{ $name }}</a>
          {{ end }}
        </div>
      </li>
      <li class="nav-item"><a href="{{ "random/" | absURL }}" class="nav-link">Au hasard</a></li>
      {{ with $.Site.Data.meta.search }}
        <li class="nav-item"><a href="{{ . }}" class="nav-link">Search</a></li>
      {{ end }}
    </ul>
    
    {{- $section := $.Site.GetPage "section" .Section -}}
    {{- with $.Site.GetPage "section" (trim .Dir "/") -}}
      {{ if not (.InSection $.Site.Home) }}
        <ol class="breadcrumb navbar-text">
          {{ if ne $section . }}
            <li class="breadcrumb-item"><a href="{{ $section.RelPermalink }}">{{ $section.Title }}</a></li>
          {{ end }}
          <li class="breadcrumb-item"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        </ol>
      {{ end }}
    {{- end -}}
  </div><!-- /.navbar-collapse -->
</nav>